In [9]:
import pandas as pd
import numpy as np
import os
import xlrd
import re

In [10]:
df = pd.read_excel('C:/Users/admin/Desktop/англ/a1.xlsx', header=None)

In [11]:
df

                        0                 1
0    conservation of mass  сохранение массы
1              combustion           горение
2                accurate            точный
3                  matter          вещество
4                quantity       колличество
..                    ...               ...
378           convergence        сходимость
379               deflate        выкачивать
380          distribution     Распределение
381              rigorous           строгий
382             pictorial   изобразительный

[383 rows x 2 columns]

In [12]:
r=list(input().split(sep=" "))

go идти

In [13]:
r[0]

'go'

In [14]:
df1=df

In [15]:
r=pd.Series(r)

In [24]:
df1=df1.append(r, ignore_index=True)

In [25]:
df1

                        0                 1
0    conservation of mass  сохранение массы
1              combustion           горение
2                accurate            точный
3                  matter          вещество
4                quantity       колличество
..                    ...               ...
379               deflate        выкачивать
380          distribution     Распределение
381              rigorous           строгий
382             pictorial   изобразительный
383                    go              идти

[384 rows x 2 columns]

In [26]:
import pickle as pkl

In [28]:
pkl.dump( df1, open('C:/Users/admin/Desktop/англ/data.pkl.gz', 'wb'))

In [29]:
uuu=pkl.load(open('C:/Users/admin/Desktop/англ/data2.pkl.gz', 'rb'))

In [30]:
uuu

                        0                 1
0    conservation of mass  сохранение массы
1              combustion           горение
2                accurate            точный
3                  matter          вещество
4                quantity       колличество
..                    ...               ...
379               deflate        выкачивать
380          distribution     Распределение
381              rigorous           строгий
382             pictorial   изобразительный
383                    go              идти

[384 rows x 2 columns]